/* styles.css */

body {
    font-family: 'Palatino Bold';
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Stack items vertically */
}
.container {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 300px; /* Adjust the size as needed */
    margin-bottom: 20px; /* Space between image and form */
}


h1 {
    color: #dc0303;
}
p{
    color:#b80505;
}

form {
    background-color: #373737;
    padding: 20px;
    margin-left: 25%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    font-size: 16px;
    color: rgb(255, 111, 0);
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #656161de;
    color: rgb(255, 111, 0);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #858b86;
}
