/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 60%;  /* Adjust the width to make it smaller */
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

.user-table {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Reduced padding */
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;  /* Reduced padding inside cells */
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    border-bottom: 1px solid #ddd;
}

.edit-button {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #45a049;
}

.edit-button i {
    margin-right: 5px;
}

.save-button {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.save-button:hover {
    background-color: #45a049;
}
.save-button i {
    margin-right: 5px;
}