body {
    background-image: url(../foto/marble_black.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Palatino Bold'
}

.login-box {
    width: 320px;
    height: 390px;
    background: radial-gradient(rgba(37, 37, 37, 0.6));
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

img {
    width: 120px;
    height: 120px;
    margin-left: 31%;
    margin-top: -65px;
}

h2 {
    margin-top: 2px;
    margin-left: 37%;
    font-size: 22px;
    cursor: pointer;
}

h3,
input {
    margin-left: 30px;
    color: rgb(255, 111, 0);
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

h2{
    color: #dc0303;
}

input {
    width: 80%;
    height: 20px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Palatino Bold';
    padding-bottom: 3px;
    margin-bottom: 15px;
    transition: 0.3s ease;
    color:#000;
    background-color: #cfd0cf;
}

input:hover {
    border-bottom: solid #000;
}

::placeholder {
    color: #fff;
}

i {
    color: #fff;
    margin-left: -20px;
}
input::placeholder
{
    color:#000;
}

button {
    font-size: 18px;
    padding: 6px 16px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: rgb(255, 111, 0);
    background-color: #656161de;
    margin-left: 118px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #858b86;
}

.sign-up{
    text-align: center;
    margin-left: 34.5%;
}

.forgot-pass-button {

    text-align: center;
    margin-left: 22%;
}   
.fas.fa-eye {
    cursor: pointer;
    color: #f87400;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .fas.fa-eye:hover {
    color: #964003;
    transform: scale(1.1);
  }
  
  .fas.fa-eye:active {
    transform: scale(0.95);
  }