html {
    overflow-x: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Palatino Bold';
    background-color: #f9f9f9;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color: #0288D1;
    margin-top: 20px;
  }
  
  .actions {
    text-align: center;
    margin: 20px 0;
  }
  
  .actions button {
    background-color: #0288D1;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  table {
    width: 1000px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 16px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  th {
    background-color: #0288D1;
    color: white;
  }
  
  .no-orders {
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }
  
  .action-button {
    width: 100%;
    max-width: 100%;
    min-width: 80px;
    padding: 10px;
    font-size: 14px;
    background-color: #0288D1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
  }
  
  @media (max-width: 500px) {
    .action-button {
      font-size: 12px;
      padding: 8px;
    }
  }
  